---
interface Props {
    href? : string,
    description1? : string,
    description2? : string,
    role? : string,
    tool1? : string,
    tool2? : string,
    tool3? :  string,
    tool4? :string,
    time? : string,

    
}

const {href, description1,description2, role, tool1, tool2, tool3, tool4, time} = Astro.props;
---

<div class=" relative flex flex-col gap-12 -top-24">
    <div class="relative mx-6">
        <img class="w-screen md:h-auto" src={href} alt="">
    </div>
    <div class="relative  mx-6 md:mx-52 justify-center items-center text-lg">
        <p >{description1}<br/><br/>{description2}
        </p>
    </div>
    <div class="relative flex  justify-between mx-6 md:mx-52 items-start">
       <div class=" items-center relative flex flex-col  gap-2 md:-gap-0 text-center">
        <h1 class="md:text-3xl text-2xl font-Alice text-main-melon">Role</h1>
        <p class=" text-sm md:text-lg">{role}</p>

       </div>
       <span class="w-px h-16 bg-main-melon"></span>
       <div class=" items-center relative flex flex-col gap-2 md:-gap-0 text-center">
        <h1 class="md:text-3xl text-2xl font-Alice text-main-melon">Tools</h1>
        <p class="text-sm md:text-lg">{tool1} <br/> {tool2}<br/>{tool3}<br/>{tool4}</p>
       </div>
       <span class="w-px h-16 bg-main-melon"></span>
       <div class=" items-center relative flex flex-col gap-2 md:-gap-0 text-center">
        <h1 class="md:text-3xl text-2xl font-Alice text-main-melon">Time</h1>
        <p class=" text-sm md:text-lg">{time}</p>
       </div>
       
    </div>
        
    </div>

</div>